.counterSection {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color-text);
  font-size: clamp(14px, 1.2vw + 10px, 20px);
  font-weight: 600;
}

.counterSection p {
  min-width: 100px;
  text-align: center;
  margin: 0;
}
