* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f87e38 0%, #764ba2 60%, #33f49a 100%);
  min-height: 100vh;
  font-family: "Crafty Girls", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
  color: #f87e38;
  -webkit-text-stroke: 0.01px black;
}
.table {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card {
  background-color: #e6add9;
  border: 2px solid #ffffff;
  border-radius: 10px;
  list-style: none;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}
.front,
.back {
  width: 100%;
  height: 100%;
  font-size: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.backCard {
  transform: rotateY(180deg);
}
.itsAMatch {
  transform: rotateY(180deg);
  background-color: #e55ac4;
  cursor: default;
}
.result {
  text-align: center;
  font-size: 50px;
  color: #f87e38;
  -webkit-text-stroke: 1px black;
  margin: 10px;
}
.counterSection {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.btn {
  display: block;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 10px;
  background: linear-gradient(135deg, #f87e38 0%, #764ba2 60%, #33f49a 100%);
  color: black;
  border: 1px solid white;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(
    135deg,
    #33f49a5e 0%,
    #764ba2a5 60%,
    #f87e38b3 100%
  );
}
.introQ {
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
