* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f87e38 0%, #764ba2 60%, #33f49a 100%);
  min-height: 100vh;
}
h1 {
  text-align: center;
  margin: 20px;
  color: #33f49a;
}
.table {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #e6add9;
  border: 2px solid #ffffff;
  border-radius: 10px;
  list-style: none;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
}
.front,
.back {
  width: 100%;
  height: 100%;
  font-size: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.backCard {
  transform: rotateY(180deg);
}
.itsAMatch {
  transform: rotateY(180deg);
  background-color: #e55ac4;
  cursor: default;
}
.result {
  text-align: center;
  font-size: 50px;
  color: pink;
  margin: 10px;
}
.counterSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  color: #f87e38;
  font-size: 20px;
  font-weight: 500;
}
